# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
/out-tsc
# Only exists if Bazel was run
/bazel-out

# dependencies
/node_modules

# profiling files
chrome-profiler-events*.json
speed-measure-plugin*.json

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db
.env

# useless assets files
/src/assets/icons/arrow-left.svg
/src/assets/icons/arrow-right.svg
/src/assets/icons/test.svg
/src/assets/images/japan.svg
/src/assets/images/lviv.svg
/src/assets/images/lviv1.svg
/src/assets/images/backgrounds/baro-day.svg
/src/assets/images/backgrounds/not-found.gif

# unused component
/src/app/components/charts-components/line-chart-press