<div *ngIf="!error">
  <button class="arrow left" (click)="slidingRight()" *ngIf="cities && cities.length >= 4">
    <svg width="60px" height="80px" viewBox="0 0 50 80" xml:space="preserve">
      <polyline fill="none" stroke="#FFFFFF" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" points="45.63,75.8 0.375,38.087 45.63,0.375 "/>
    </svg>
  </button>
  <button class="arrow right" (click)="slidingLeft()" *ngIf="cities && cities.length >= 4">
    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="60px" height="80px" viewBox="0 0 50 80" xml:space="preserve">
      <polyline fill="none" stroke="#FFFFFF" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" points="0.375,0.375 45.63,38.087 0.375,75.8 "/>
    </svg>
  </button>
  <div class="slider">
    <div class="main__container">
      <div class="slider-track" [ngStyle]="{'transform': 'translateX(' + $slidingValue + 'px)'}" slider [animationTime]="duration">
        <div class="slide" *ngFor="let city of cities; index as i">
          <app-weather-card [city]="city"></app-weather-card>
        </div>
        <div class="slide">
          <app-add-card></app-add-card>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="error">
  <app-page-not-found></app-page-not-found>
</div>